<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Appointments</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
     href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"
/>


<link rel="stylesheet" type="text/css"
    href="/static/css/busy.css"
/>

<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Ideally the rest of our javascript dependencies would be
     bundled and minified with 'browserify', but I've found that
     it difficult to handle browserify dependencies for class
     projects.  So, we'll pick up moment and a date range picker
     from CDNs instead.
-->

<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />


</head>

<body>
<div class="container">

<h1>Busy times</h1>

<!--
  -- If there are any warnings or other messages from a prior action,
  -- they appear above the rest of the content, just until the next 
  -- action.
  -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h2>Date range for meeting</h2>
  <form action="/setrange" method="post">
  <input type="text" name="daterange" size="12"
    {% if session.daterange is defined %}
         value="{{session.daterange}}"
    {% endif %}
     class="pull-down"
     style="background: #fff; cursor: pointer; padding: 5px 10px;
     border: 1px solid #ccc; width: 12em" >

  <br /><input type="submit" value="Apply date range" /><br><br>
  <p> From: <input type=time name="begin_time" id="begin_time" 
    {% if session.daterange is defined %}
      value="{{session.begin_time}}"
    {% else %}
      value =""
    {% endif %}    />
      To: <input type=time name="end_time" id="end_time" 
      {% if session.daterange is defined %}
        value="{{session.end_time}}"
      {% else %}
        value =""
      {% endif %}     />
      <br>
  <input type="submit" id="time submit" value="Choose time range" /></p>

  <script type="text/javascript">

        $(function() {
        $('input[name="daterange"]').daterangepicker(
          {   ranges: {
                 'Today': [moment(), moment()],
                 'Tomorrow':[moment().add(1, 'days'),
                             moment().add(1, 'days')], 
                 'This week':[moment(), moment().endOf('week')],
                 'Next week':[moment().add(7, 'days').startOf('week'),
                              moment().add(7, 'days').endOf('week')],
                 'This month':[moment(), moment().endOf('month')],
                 'Within two weeks':[moment(),moment().add(15, 'days')]
              }}
             );
          });
    </script>
  </form>
  



    <!--
    Show the calendar list (if we have it).  This will need to be turned into
    a form from which calendars can be picked. Up to three entries are
    shown in each row (but the order is across then down; I would
    prefer down then across). 


    turn the below code into a set of objects with a check box
    then if the check box is clicked, call get_busy_events with that calendar???
    or do you wait until all the check boxes are clicked and then add that calendar name
    to the list of calendars to be checked for busy events?
    hmmm
    -->

  
{% if g.calendars is defined  %}
  <div class="row">
  {% for cal in g.calendars if cal.selected %}
          <div class="col-md-4">
            <input id="{{ cal.id }}" name="calendar_checkbox" type="checkbox">
      {{ cal.summary }}
          
          </div>
         {% if loop.index is divisibleby 1 %}
          </div> <div class="row">
         {% endif %}
  {% endfor %}
  </div><br>
  <button type="submit" id="show_busy" name = "show busy">Show Busy Times</button>
{% endif %}
<div id="calendar_events">

</div>

<script type="text/javascript">

$("#show_busy").click( function(){
            $("#calendar_events").empty();
             var checkedBoxed = getCheckedBoxed("calendar_checkbox");
             console.log("The checked boxes are " + checkedBoxed);
             get_Busy_Times(checkedBoxed);
             }
);

function get_Busy_Times(calendar_IDs){
              console.log("I'm sending a request for get busy times");
              console.log("This is calendar IDS: " + calendar_IDs);
              var jsonString = JSON.stringify(calendar_IDs);
              $.getJSON( "/get_busy_times", { calendarIDs: jsonString }, 
              function(data) {
                //TODO:: finish this
                var events = data.result;
                console.log(events);
                $("#calendar_events").append("<h5> Avoiding conflicts with: </h5>");
                console.log("I'm back from a request for get busy times");
                for (i = 0; i < events.length; i++) {
                  var eventString = events[i];
                  $("#calendar_events").append("<br>" + eventString);
                }
              });

}
  //The following function is thanks to Michael Berkowski
  //https://stackoverflow.com/questions/8563240/how-to-get-all-checked-checkboxes
  function getCheckedBoxed(inputName){

    //Get all the inputs
    var checkBoxes = document.getElementsByName(inputName);
    var checked_ = [ ];
    for (var i = 0; i < checkBoxes.length; i++) {
      //If the ith box is checked, add it to the array
      if (checkBoxes[i].checked) {
        checked_.push(checkBoxes[i].id);
      }
    }
    //Return null if list is empty, return list otherwise
    return checked_.length > 0 ? checked_ : null;
  }
  //End Borrowed Function
</script>

  </div>  <!-- container (for bootstrap) -->
  </body> </html>
